
<section class="bg-emerald-50">
    <div class="container h-[2000px] pt-40">
      <DIV>
        <span class="font-bold max-lg:first-letter:hello text-emerald-800">HELLO I'm</span>
        
      </DIV>
      

        <!-- Image Section -->
        <section class="bg bg-emerald-200 border py-16">
          <div class="container max-h-max flex items-center justify-end">
            
            <!-- Image with Rounded Corners and Shadow -->
            <img src="/src/images/moni-removebg-preview.png" alt="Your Image" class="rounded-lg shadow-lg object-cover h-64 w-64">
      
          </div>
        </section>
    </div>
  
  </section>