<div class="bg-emerald-100">
  <div class="container h-[2000px] pt-40 flex ">
    

    <!-- Image Section -->
    <div class="bg bg-emerald-300  w-full flex border py-16">

      <div class="headline">
        <div class="font-bold text-lg my-auto mx-4 flex">
          <p>My name is Monesh,
           I'm a web developer with over 1 year of experience
          </p>
        </div>
        <span class="multiText ring-offset-green-800">
         
        </span>
      </div>

      <div class="ml-auto">
        <!-- Image with Rounded Corners and Shadow -->
        <img [src]="'assets/images/moni-removebg-preview.png'" alt="Moni Image" class="rounded-lg shadow-2xl object-cover h-100 w-200">
      </div>
    </div>
  </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js" ></script>
<script>
    var typingEffect = new Typed(".multiText",{
        strings:["Designer","coder","Developer"],
        loop:true,
        typeSpeed:100,
        backSpeed:90,
        backDelay:1600,

    })
        
</script>
<script src ="script.js"></script>